
.land_build_div_title {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.build_title {
margin:auto;
}

.build_selectionList {
    justify-content: center;
    background-color:#bc8da0;
    margin: 10%
}

.b_component {
    margin:auto
}