.specsbars_cont {
    
    padding-bottom: 2px;
    display: flex;
    column-gap: 30px;


}
.specsbars_div {
    flex: 1;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}
.specsbars_div:hover {

    border-bottom: 1px white solid;
    cursor: pointer;
}

.specButton {
    display: flex;
    align-items: center;
}

.specButton span{
    font-size: 20px;
}

.specsFont {
    font-size: medium;
    display: inline-block;
}
