.NavigationHeader {
    background-color:#a04668;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;

}

.NavNameDiv {
    
    display: inline-block;

}

.NavName {
    margin: 0;
    font-size: large;
}

.SearchBar {
    display: flex;
    
    align-items: center;
    
}

.BarOptionDiv {
    margin : 0;
    
    padding-bottom: 4px;
    padding-top: 4px;
    

    
}

.BarOption {
    margin: 0;
    font-size: large;
    padding-left: 3px;
    padding-right: 3px;

    border-left-width: 1em;
    border-left: solid;
    border-color: #d9d0de;
    
}
